.header__inner {
  text-align: center;
  max-width: 1230px;
}

.header__logo {
  color: #cfab72;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.contact-form__content {
  text-align: center;
  max-width: 1230px;
  color: #cfab72;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  width: 80%;
  margin: 20px auto;
}

.form__group {
  border-top: 1px;
  padding: 24px 0;
  width: 1000px;
  display: flex;
  align-items: center;
}

.form__group--content {
  width: 50vw;
  font-size: 16px;
}

.form__label--item {
  font-size: 16px;
  color: #cfab72;
}

.form__group--title {
  color: rgb(237, 124, 143);
}

.form__input--item{
  display: flex;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  width: 48px;
  font-size: 18px;
  color: #cfab72;
}

.form__input--item .first-name {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.form__error {
  color: rgb(237, 124, 143);
}

.form__input--item-content{
  border: 1px solid white;
  border-radius: 6px;
  margin-left: 40px;
  padding: 0 10px;
  height: 200px;
  width: 100%;
  font-size: 18px;
}

.form__button {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.form__button-confirm {
  margin: 0 auto;
  padding: 3px 8px;
  width: 15%;
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: #cfab72;
  color: #f8eacf;
  cursor: pointer;
}

